@page "/Search"
@rendermode InteractiveServer
<div class="mt-5"></div>
<h3 class="text-center">Search Books</h3>


<div class="row d-flex flex-row m-auto w-auto align-content-center align-items-center align-middle text-center">
    <div class="m-auto w-auto align-content-center align-items-center align-middle text-center d-flex">
            <input class="w-100 rounded m-6 p-6 h-8 border-info m-2 shadow"
                   @bind="SearchText"
                   @bind:event="oninput"
                   placeholder="Search by Book name" />

            <select class="form-select" aria-label="Genre"
                    @bind="SelectedGenre"
                    @bind:event="onchange">
                <option value="" selected>Filter on Genre</option>

                @foreach (var genre in Genres)
                {
                    <option>@genre.Key.ToString()</option>
                }
            </select>
    </div>
  
</div>




@if (!FilteredBooks.Any())
{
    <p>Nothing to show, sorry...</p>
    @if (SearchText.Length < 2)
    {
        <p>Make sure to enter at least 2 characters to search!</p>
    }
}
else
{
    <div class="d-flex col-10 m-auto flex-wrap justify-content-center gap-3">
        @foreach (var book in FilteredBooks)
        {
                   <BookCard Book=@book></BookCard>
        }
    </div>
}

