@model ListViewModel
<div class="row">
    <h1 class="text-center py-4">Books Per Genre</h1>
    <a asp-page="/BookForm" class="btn-info btn btn-lg text-white">New Book</a>

<div class="mt-5 container">
            @foreach (var genre in Model.Books)
            {

            <div class="genre-section">
                <!-- Toggle Button -->
                <div class="bg-primary rounded-5 shadow w-100 text-start mb-2">
                    <h3 class="text-center text-white">@genre.Key.ToString()</h3>
                    
                </div>

                <!-- Collapsible Section -->
                    <div class="d-flex col-10 m-auto flex-wrap justify-content-center gap-3">
                        @foreach (var book in genre)
                        {
                            <partial name="_BookCard" model="@book" />
                        }
                    </div>
            </div>
        }
    </div>
</div>