@page "{PublisherId:Guid?}"
@model BookCatalog.Web.Pages.Publishers.FormModel

<form method="post" class="form-horizontal w-50 m-auto mt-5 pt-5 align-content-center align-items-center align-middle" role="form">
    @if (Model.IsEdit)
    {
        <h4>Update the Publisher</h4>

    }
    else
    {
        <h4>Create a new Publisher</h4>
    }
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="IsEdit" style="display:none" />
    <input asp-for="Publisher.Id" style="display:none" />


    <div class="form-group">
        <label asp-for="Publisher.Name" class="col-md-2 control-label"></label>
        <div class="col-auto">
            <input asp-for="Publisher.Name" class="form-control" />
            <span asp-validation-for="Publisher.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mt-3 w-100 text-center d-flex m-auto align-content-center align-items-center align-middle">
        <input type="submit" class="m-auto btn btn-success align-content-center align-items-center align-middle" value="Submit" />
       </div>
</form>