@page
@model BookCatalog.Web.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<style>
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* adjust as needed */
        font-size: 1.5rem;
        text-align: center;
        color: #87AABF;
    }
</style>

<div class="centered">
    <div>
        <h1>Access Denied</h1>
        <p>You do not have access to this resource.</p>
    </div>
</div>
